/* You can add global styles to this file, and also import other style files */
.bg-light{
    background-color: #003378 !important;
}
.amenity img {
    height: 20px;
}
.price{
    color: #e16800;
}
.hotels-card{
    margin-top: 10px;
}
.title-hotel{
    color: #2388bc;
    font-weight: bold;
}
.title-price{
    color: #8e8e8e;
}
.btn-almundo{
    background: #002979;
    color: white;
}
.pullapart{
    border-left: 1px dashed #b3b0b0;
}
.card{
    margin-bottom: 21px;
}
.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    float: left;
    padding-right: 1em;
}
.card-img-left ~ .card-body {
    margin-left: 40%;
}
.stars {
    fill: #febb00;
}
.stars-icons{
    display: -webkit-box;
}
@media only screen and (max-width: 400px) {
    .pullapart{
        border-top: 1px dashed #b3b0b0 !important;
        border-left: 0px dashed !important;
        margin-top: 20px;
    }
    .container-input-search{
        display: none;
    }
    .card-almundo{
        width: 100%;
    }

    .container-stars{
        display: none;
    }

}   


.container-hotels.row {
    padding: 20px;
    margin: 0;
  }
  
  .stars, .row-star {
    fill: #febb00;
  }
  
  .color-price {
    color: #e26800;
  }
  
  .container-icon {
    cursor: pointer;
    right: 0;
    top: 5px;
  }
  
  .open-filter {
    display: block;
    -webkit-transition: display 3s ease-out;
    -moz-transition: display 3s ease-out;
    -o-transition: display 3s ease-out;
    transition: display 3s ease-out;
  }
  
  .close-filter {
    display: none;
    -webkit-transition: display 3s ease-out;
    -moz-transition: display 3s ease-out;
    -o-transition: display 3s ease-out;
    transition: display 3s ease-out;
  }
  
  .icon-open:before {
    content: "";
    border-top: 10px solid #097ab4;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  .icon-close:before {
    content: "";
    border-bottom: 10px solid #097ab4;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  .background-button {
    background: #002978;
    border: 1px solid #002978;
  }
  
  .card-almundo{
    padding: 11px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
  }

  @media (max-width: 768px) {
    .container-list-hotels .container-hotel-detail .container-detail {
      border-right: none;
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 3px dotted #eeeeee;
    }
    .container-hotels .container-search {
      padding: 0;
      width:100%;
      margin: 0;
      text-align: center !important;  
      color: #2388bc;
    }
  }
