<section class="container-hotels row">
    <div class="container-search col-lg-3 text-left">
       <!-- <form [formGroup]="searchForm">
            <p>Filtros</p>
            <div class="container-input-search">
                <div class="title position-relative">
                    <!-- <app-icon-search></app-icon-search>
                    <span class="color-blue">Nombre del Hotel</span>
                    <span (click)="openFilters('openFilterName')" class="container-icon" [ngClass]="{'icon-close': openFilterName, 'icon-open': !openFilterName}"></span>
                </div>
                <div class="input" [ngClass]="{'open-filter': openFilterName, 'close-filter': !openFilterName}">
                    <input type="text" placeholder="Ingrese el nombre del hotel" formControlName="search">
                    <button (click)="filterHotels()" class="btn btn-primary">
                        Buscar
                    </button>
                </div>
            </div>
        </form>-->
    </div>
</section>