<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3 col-md-3">
            hola
            <!--<app-filters></app-filters>-->
        </div>
        <div class="col-12 col-sm-8 col-md-8 ">
            <app-list-hotels></app-list-hotels>
        </div>
    </div>
    <!--<div class="row" *ngIf="isMobile">
        <div class="col-12">
            hola
        </div>
        <div class="col-12">
            <app-list-hotels></app-list-hotels>
        </div>
    </div>-->

</div>