<div class="card" *ngFor="let hotel of hotels">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8">
                <img class="img-fluid card-img-left" [src]="pathImage + hotel.image" alt="Hotel almundo">
                <p class="title-hotel">{{hotel.name}}</p>
                <app-icon-star [stars]="hotel.stars" class="stars-icons"></app-icon-star>
                <span class="amenity" *ngFor="let amenity of hotel.amenities">
                    <img [src]="pathIcon + amenity + '.svg'">
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-4  pullapart text-center justify-content-center align-items-center">
                <p class="title-price">Precio por noche por habitación</p>
                <h1 class="price">ARS
                    <strong>{{hotel.price | number : '1.0-0'}}</strong>
                </h1>
                <button type="button" class="btn btn-almundo btn-lg btn-block">Ver Hotel</button>
            </div>
        </div>
    </div>
</div>